<div class="register">
    <!-- register.component.html -->

<div class="register">
  <form class="custom-form" (ngSubmit)="register()" method="post">
    <h1>{{ 'sign_up' | translate }}</h1>
    <input type="email" name="email" placeholder="{{ 'Email' | translate }}" required maxlength="{{ emailmaxLength }}" [(ngModel)]="email" />
    <span *ngIf="email && !validarEmail()">{{ 'Invalid_E-mail' | translate }}</span>
    <input type="password" name="password" placeholder="{{ 'Password' | translate }}" required maxlength="{{ passwordmaxLength }}" [(ngModel)]="password" />
    <input type="password" name="confirmPassword" placeholder="{{ 'Repeat_password' | translate }}" required maxlength="{{ passwordmaxLength }}" [(ngModel)]="confirmPassword" />
    <button type="submit">{{ 'sign_up' | translate }}</button>
  </form>
</div>
  </div>
